{% extends "index.html" %}
{% load static %}
{% block title %}CategoryPage{% endblock title %}

{% block content %}


<section id="explore" class="explore">
    <div class="container">


        <div class="section-header">
            <h2>categories</h2>
            <p>all the categories, just choose and enjoy it</p>
        </div><!--/.section-header-->


        <div class="explore-content">
            <div class="row">
                {% for category in categories %}
                <div class=" col-md-4 col-sm-6">

                    <div class="single-explore-item">

                        

                        <div class="single-explore-img">
                            <img src="{% static 'assets/images/explore/e1.jpg' %}" alt="explore image">
                        </div>

                        <div class="single-explore-txt bg-theme-1">
                            <h2><a href="#">{{category.title}}</a></h2>
                            <p class="explore-rating-price">
                                <span class="explore-rating">5.0</span>
                                <a href="#"> 10 ratings</a> 
                                <span class="explore-price-box">
                                    form
                                    <span class="explore-price">5$-300$</span>
                                </span>
                                 <a href="#">resturent</a>
                            </p>
                            <div class="explore-person">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="explore-person-img">
                                            <a href="#">
                                                <img src="{% static 'assets/images/explore/person.png' %}" alt="explore person">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <p>
                                            {{category.comment | truncatewords:12}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="explore-open-close-part">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <button class="close-btn" onclick="window.location.href='#'">
                                            <a href="{% url 'category/category.slug' %}">show more</a>
                                        </button>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="explore-map-icon">
                                            <a href="#"><i data-feather="map-pin"></i></a>
                                            <a href="#"><i data-feather="upload"></i></a>
                                            <a href="#"><i data-feather="heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                   
                

                
                {% endfor %} 
            </div>   
            

        </div>


    </div><!--/.container-->

</section><!--/.explore-->
            
           
            



{% endblock content %}


